* body,html {
    margin: 0;
    padding: 0;
    font: 1em "open sans", sans-serif;
}

body{
    background-color: #c2b8b8;
}


.yosif{
    width: 100%;
    background-color: #333;
    color: #fff;
    height: 60px;
}

.yosif #logo {
    float: left;
    height: 30px;
    padding: 15px 30px;
    font-size: 1.2em;
    line-height: 30px;
}

.yosif > ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style-type: none;
} 

.yosif > ul > li {
    float: left;
} 

.yosif-item{
    display: inline-block;
    padding: 15px 20px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
}

.yosif-item:hover{
    background-color: #ff0055;
}


.sub-contect{
    position: absolute;
    top: 60px;
    overflow: hidden;
    background-color: #333;
    max-height: 0;
}


.sub-contect a {
    color: #fff;
    text-decoration: none;

}

.sub-drop {
    padding: 0;

}

.sub-drop ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;

}

.sub-drop ul li a {
    display: inline-block;
    padding: 10px 20px;
}

.sub-drop ul li:hover{
    background-color: #ff0055;
}


.yosif-item:focus { 
    background-color: #ff0055; 
}

.yosif ul li:hover .sub-contect{ 
    max-height: 400px;
    transition: max-height 0.9s ease-in;
    -webkit-transition: max-height 0.9s ease-in;
    -moz-transition: max-height 0.9s ease-in;
}

.slides-container{
    width: 800px;
    height: 500px;
    overflow: hidden;
    box-shadow: 2px 2px 10px #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation {
position: absolute;
bottom: 5%;
left: 50%;
transform: translatex(-50%);
display: flex;
}

.nav {
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 6px;
    cursor: pointer;
}

.nav:hover{
    background: #fff;
}
input[name="slide"]{
    position: absolute;
    visibility: hidden;
}
.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slide {
    width: 20%;
    transition: 0.5s;
}

.slide img {
    width: 100%;
}

#slide-1:checked ~ .s1 {
    margin-left: 0;
}

#slide-2:checked ~ .s1 {
    margin-left: -20%;
}

#slide-3:checked ~ .s1 {
    margin-left: -40%;
}

#slide-4:checked ~ .s1 {
    margin-left: -60%;
}
